version: "2.1"
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    ports:
      - 8000:8000
      - 9443:9443
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
      - portainer_data:/data
    restart: unless-stopped


volumes:
  portainer_data:
